{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 text-right" style="padding-right:0px;">
                    <img src="/static/PEtab.png" class="img-rounded logo pull-right">
                </div>
                <div class="col-md-6 text-left" style="padding-left:0px;">
                    <h1 style="margin-top: 17px;"> Validation</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-justify">PEtab - a data format for specifying
                    parameter estimation problems in systems biology.
                    PEtab is built around SBML and based on tab-separated values (TSV) files.
                    It is meant as a standardized way to provide information for
                    parameter estimation which is out of the
                    current scope of SBML. </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose files for validation:</h3>
            </div>
            <div class="panel-body">
                {{ util.flashed_messages(dismissible=True, container=False) }}

                {{ wtf.quick_form(form)}}
            </div>
        </div>
    </div>
{% endblock %}
